pip install langchain-community
pip install -U langchain-ollama
pip install chromadb langchain-community
pip install langchain langchain-community chromadb bs4

run these on power shell
pip install streamlit

streamlit run ui_app.py
setx USER_AGENT "Mozilla/5.0 (Windows NT 10.0; Win64; x64)"
